/*======================
   01. Google fonts
========================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

/*======================
   02. Basic css
========================*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
}

body {
	line-height: 26px;
	background: #232323;
	font-size: 16px;
	color: #232323;
	font-family: 'Poppins', sans-serif;
}

ol,
ul {
	list-style: none;
}

a:hover {
	text-decoration: none;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

.counter-wrapper {
	padding: 80px 0;
}

.head-text p {
    color: #232323;
    padding: 6px 20px;
    display: inline-block;
    background: #ffffff;
    font-weight: 500;
    border-radius: 25px;
}

.head-text h2 {
	font-size: 40px;
	color: #ffffff;
	font-weight: 700;
	margin-top: 30px;
}

.counter-bg1 {
	 background: #83adff;
}

.counter-bg2 {
	 background: #ffdc60;
}

.counter-bg3 {
	 background: #59c9da;
}

.counter-bg4 {
	 background: #ffadad;
}


.counter-box {
	padding: 50px 0;
	text-align: center;
	border-radius: 8px;
	margin-top: 30px;
}

.counter-box h3 {
	 font-size: 22px;
	 margin-bottom: 10px;
	 font-weight: 700;
}

.counter-box i {
	font-size: 60px;
	margin-bottom: 10px;
}

.counter-box h2 {
	font-size: 50px;
	font-weight: 700;
}